$background-color: rgb(242, 243, 190);
$blue: rgb(197, 233, 251);
$green: rgb(197, 221, 135);
$terracota: rgb(244, 154, 115);
$yellow: rgb(239, 240, 140);
$red: rgb(240, 83, 84);
$brown: rgb(224, 178, 137);
$dark-grey: rgb(59, 62, 64);
$light-grey: rgb(107, 108, 108);
$almost-white: rgb(238, 238, 238);
